@import "tailwindcss";

/* Force white background globally */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: bg-gray-50!important;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}
